@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #cbd5e1;
}

.header {
  background-color: #0369a1;
  height: 90px;
  display: flex;
  justify-content: space-around;
}
.header__logo {
  font-size: 30px;
  color: white;
  line-height: 90px;
  font-weight: 600;
}

.header__list {
  display: flex;
}
.header__list-item {
  line-height: 90px;
  padding: 0 20px;
}

.header__item-link {
  color: white;
  font-size: 18px;
}

.header__themeIcon {
  line-height: 90px;
  color: white;
  font-size: 25px;
  cursor: pointer;
}

.table-container {
  width: 550px;
  margin: 2% auto 0;
  /* background-color: #0f766e; */
}

.btn-newTask {
  border: none;
  background-color: #0369a1;
  padding: 12px;
  border-radius: 4px;
  margin-bottom: 10px;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
}

.tasks-table {
  width: 100%;
  text-align: center;
  background-color: white;
  border-collapse: collapse;
}

.tasks-table th,
td {
  padding: 15px;
}
.tasks-table thead {
  background-color: #0369a1;
  color: white;
}

.trash-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.task-form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 15px;
  margin-top: 10px;
  border-radius: 6px;
  width: 500px;
}

.task-form-container,
.task-delete-modal-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(30, 41, 59, 0.5);
  width: 100vw;
  height: 100vh;
}
.task-form-header,
.task-delete-modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.task-form-header label,
.task-delete-modal-header label {
  cursor: pointer;
}
.task-form input {
  border: none;
  margin: 10px 0;
  background-color: #cbd5e1;
  padding: 12px;
  border-radius: 4px;
}
.task-form-btn {
  border: none;
  margin-top: 10px;
  padding: 12px;
  background-color: #0369a1;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.task-delete-modal {
  background-color: white;
  padding: 20px;
  width: 400px;
}
.task-delete-modal p {
  margin-bottom: 15px;
}
.task-delete-modal button {
  background: none;
  border: none;
  padding: 10px;
  background-color: #0369a1;
  color: white;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
}
